<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300216120971-me4ie3d5oktqrh50914qe1mtquvq21up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300216120971-me4ie3d5oktqrh50914qe1mtquvq21up</string>
	<key>API_KEY</key>
	<string>AIzaSyAbd5JHeaXZrO7qn4_gpHNpzeYp4jj_FOM</string>
	<key>GCM_SENDER_ID</key>
	<string>300216120971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.parking-finder.example</string>
	<key>PROJECT_ID</key>
	<string>car-parking-finder-18178</string>
	<key>STORAGE_BUCKET</key>
	<string>car-parking-finder-18178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300216120971:ios:05531f8267d13fc15a868e</string>
</dict>
</plist>